*{
    margin: 0;
    padding: 0ex;
}

#PlaceContainer{
    background-color: rebeccapurple;
    display: grid;
    grid-template-columns: repeat(101, 0.8fr);
    width: 40vw;
    td{
        background-color: rgb(255, 255, 255);
        border: 1px solid black;
        width: 12.26px;
        height: 12.26px;
    }
}

h1{
    position: absolute;
    background-color: rgba(255, 192, 203, 0.589);
    color: rgba(0, 0, 0, 0.562);
    animation: Blink 10s infinite;
}


@keyframes Blink {
    from {background-color: rgba(255, 192, 203, 0);color: rgba(0, 0, 0, 0);}
    to {background-color: rgb(255, 192, 203);color: rgb(0, 0, 0);}
  }